.pagination li {
    display: inline-block;
    margin: 0px 10px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #007dae;
}

.active {
    color: #ffffff;
    background-color: #007dae;
}

.detail-info {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
